<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ungdungdatlichcattoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UngDungDatLichCatToc"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.HairActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HairStylistActivity"
            android:exported="true"></activity>
        <activity
            android:name=".XacthucSDT"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BanGiaActivitytivity"
            android:exported="true" />
        <activity
            android:name=".TaiKhoan"
            android:exported="false" />
        <activity
            android:name=".activity.DatlichActivity"
            android:exported="true" />
        <activity
            android:name=".AccoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BanGiaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LichSuCutActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChonDichVuAcitivty"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>