<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ungdungdatlichcattoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".MyAppliation"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UngDungDatLichCatToc"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.DoiMatKhauQuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".activity.XacThucSdtQuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RepassActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegiterPassworkActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegiterPhoneActivity"
            android:exported="true" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity_DichVuChiTiet"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ThongtTinHoTroKhActivity"
            android:exported="false"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.UpdateAccountActivity"
            android:exported="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".ActivityDetail"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.XacthucSDT"
            android:exported="false"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BanGiaActivitytivity"
            android:exported="true" />
        <activity
            android:name=".TaiKhoan"
            android:exported="false" />
        <activity android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DatlichActivity"
            android:exported="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activity.AccoutActivity"
            android:exported="false"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activity.BanGiaActivity"
            android:exported="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activity.LichSuCutActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChonDichVuAcitivty"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activity.Activity_newfeed"
            android:exported="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activity.ActivityDetail"
            android:exported="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:autoRemoveFromRecents="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>